In [2]:
import numpy as np
import pandas as pd
from scipy import stats

### How likely is it that you roll doubles when rolling two dice?

In [16]:
# What are the odds of rolling Snake Eyes on two dice?

# Step 1 Represent our outcomes
outcomes = [1, 2, 3, 4, 5, 6]

# Step 2: Create a matrix of random data where rows=simulations, columns=trial

# Simulation = the number of times we run the experiment
# Trials = the number of things in each experiment
n_simulations = 1_000_000
n_trials = 2 # b/c we're rolling 2 dice with each experiment

# size argument can set our simulation and trial size
rolls = np.random.choice(outcomes, size=(n_simulations, n_trials))
rolls

array([[5, 2],
       [2, 1],
       [3, 3],
       ...,
       [5, 5],
       [4, 4],
       [4, 5]])

In [23]:
finding_doubles = finding_doubles.rename(columns = {0:"roll_1",1:"roll_2"})

In [21]:
finding_doubles

        0  1
0       5  2
1       2  1
2       3  3
3       3  3
4       3  5
...    .. ..
999995  5  2
999996  5  2
999997  5  5
999998  4  4
999999  4  5

[1000000 rows x 2 columns]

In [19]:
finding_doubles = pd.DataFrame(rolls)

In [24]:
finding_doubles["is_double"] = finding_doubles["roll_1"] == finding_doubles["roll_2"]

In [25]:
finding_doubles

        roll_1  roll_2  is_double
0            5       2      False
1            2       1      False
2            3       3       True
3            3       3       True
4            3       5      False
...        ...     ...        ...
999995       5       2      False
999996       5       2      False
999997       5       5       True
999998       4       4       True
999999       4       5      False

[1000000 rows x 3 columns]

In [26]:
finding_doubles["is_double"].mean()

0.166678

### If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [40]:
# 1 == Heads 0 == Tails
outcomes = [1,0]
n_simulations = 1_000_000
n_trials = 8

flips = np.random.choice(outcomes,  size=(n_simulations,n_trials))

In [68]:
sum_of_flips = flips.sum(axis = 1)

In [69]:
(sum_of_flips == 3).mean()

0.21781

In [200]:
(sum_of_flips >= 3).mean()

0.855826

In [49]:
heads_counter.dtypes

0             int64
1             int64
2             int64
3             int64
4             int64
5             int64
6             int64
7             int64
head_count    int64
dtype: object

In [66]:
heads_counter["head_count" == 5]

0         0
1         0
2         0
3         0
4         1
         ..
999995    1
999996    1
999997    1
999998    1
999999    0
Name: 0, Length: 1000000, dtype: int64

In [64]:
heads_counter

        0  1  2  3  4  5  6  7  head_count
0       0  0  1  0  0  0  1  0           2
1       0  0  0  0  1  0  1  0           2
2       0  1  0  1  0  0  0  1           3
3       0  0  0  1  0  0  1  0           2
4       1  1  1  0  0  0  1  0           4
...    .. .. .. .. .. .. .. ..         ...
999995  1  0  0  0  1  0  1  1           4
999996  1  0  1  0  0  1  0  1           4
999997  1  1  0  0  1  1  1  1           6
999998  1  0  0  0  0  0  1  0           2
999999  0  0  1  0  0  1  0  1           3

[1000000 rows x 9 columns]

### There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [81]:
# 0 is equal to a web development cohort student ---- 1 is equal to a data science cohort student
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 2

billboards = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[0.75, 0.25])

In [83]:
sum_of_billboards = billboards.sum(axis = 1)

In [84]:
(sum_of_billboards == 2).mean()

0.062253

### Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [217]:
n_simulations = 1_000_000
n_trials = 5
poptarts = np.random.uniform(low = 1.5, high = 4.5,size = (n_simulations,n_trials))

In [218]:
sum_of_poptarts = poptarts.sum(axis = 1)

In [219]:
(sum_of_poptarts < 17).mean()

0.84445

In [213]:
poptarts = np.random.normal(loc = 3, scale = 1.5,size = (n_simulations,n_trials))

In [214]:
poptarts

array([[4.11624876, 2.21962043, 3.18063879, ..., 3.73461287, 2.01277775,
        3.94924249],
       [1.98858175, 2.88739151, 2.42460032, ..., 4.65293379, 3.93788794,
        6.684392  ],
       [2.54814114, 0.72603705, 1.33396538, ..., 3.50470619, 4.04518434,
        3.94998077],
       ...,
       [1.16448644, 4.9157724 , 4.62103332, ..., 3.04241632, 3.75108512,
        3.10381074],
       [3.9493566 , 3.35599804, 3.27112283, ..., 1.48025084, 4.19399928,
        3.90447011],
       [1.56014101, 1.65346934, 4.41985303, ..., 2.16022712, 2.62100876,
        1.94697115]])

In [215]:
sum_of_poptarts = poptarts.sum(axis = 1)

In [220]:
(sum_of_poptarts > 17).mean()

0.15555

# Compare Heights
### Men have an average height of 178 cm and standard deviation of 8cm.
### Women have a mean of 170, sd = 6cm.
### Since you have means and standard deviations, you can use np.random.normal to generate observations.
### If a man and woman are chosen at random, P(woman taller than man)?

In [127]:
male_height = np.random.normal(loc = 178, scale = 8,size = (n_simulations))

In [125]:
female_height = np.random.normal(loc = 170, scale = 6,size = (n_simulations))

In [129]:
(female_height > male_height).mean()

0.211818

### When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

In [135]:
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 50

conda_install_50 = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.996, 0.004])

In [136]:
sum_of_conda_50 = conda_install_50.sum(axis= 1)

In [198]:
(sum_of_conda_50 == 0).mean()

0.818474

In [139]:
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 100

conda_install_100 = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.996, 0.004])

In [142]:
sum_of_conda_100 = conda_install_100.sum(axis= 1)

In [199]:
(sum_of_conda_100 == 0).mean()

0.669774

### What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [221]:
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 150

conda_install_150 = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.996, 0.004])

In [223]:
sum_of_conda_150 = conda_install_150.sum(axis= 1)

In [224]:
(sum_of_conda_100 > 0).mean()

0.330226

### How likely is it that 450 students all download anaconda without an issue?

In [144]:
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 450

conda_install_450 = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.996, 0.004])

In [145]:
sum_of_conda_450 = conda_install_450.sum(axis= 1)

In [167]:
(sum_of_conda_450 == 0).mean()

0.16502

### There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

In [147]:
# 0 = no food truck --- 1 = food truck
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 3

food_truck = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.3,.7])

In [149]:
sum_of_truck = food_truck.sum(axis = 1)

In [150]:
(sum_of_truck == 0).mean()

0.027009

### How likely is it that a food truck will show up sometime this week?

In [243]:
outcomes = [0,1]
n_simulations = 1_000_000
n_trials = 2

food_truck = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.3,.7])

In [244]:
sum_of_truck = food_truck.sum(axis = 1)

In [245]:
1 - (sum_of_truck == 0).mean()

0.910597

### If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [181]:
# 0 = has same birthday 1 = doesnt have same birthday
n_simulations = 100_000
n_trials = 23
same_birthday = np.random.randint(low = 1,high = 366 , size=(n_simulations,n_trials),dtype = int)

In [182]:
same_bday = pd.DataFrame(same_birthday)

In [183]:
same_bday

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,214,86,305,244,273,352,101,210,29,324,...,349,360,336,362,335,180,324,24,224,338
1,251,139,232,222,159,129,112,276,18,32,...,107,22,194,364,153,22,180,107,262,99
2,352,257,328,78,73,296,22,348,256,231,...,365,323,47,249,298,170,355,103,113,201
3,101,352,74,5,331,279,57,142,229,235,...,68,279,82,3,256,248,359,17,284,304
4,142,182,338,73,11,119,89,172,312,111,...,208,123,344,85,131,161,360,318,62,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,136,297,17,271,162,292,353,67,196,101,...,270,223,132,123,171,239,261,329,178,317
99996,174,232,96,6,108,254,113,149,303,142,...,66,140,288,15,87,303,299,340,240,14
99997,299,40,125,274,204,278,9,44,36,67,...,54,285,28,173,29,58,6,222,192,71
99998,102,9,164,242,208,203,105,222,64,113,...,8,330,35,252,233,255,165,35,71,44
99999,276,160,178,25,277,271,111,128,313,183,...,206,203,99,272,239,146,313,8,303,140

In [184]:
same_bday["same_birthday"] = same_bday.apply(lambda row: len(row) != row.nunique(),axis = 1)

In [185]:
same_bday.same_birthday.mean()

0.5064

In [188]:
n_simulations = 100_000
n_trials = 20
same_birthday = np.random.randint(low = 1,high = 366 , size=(n_simulations,n_trials),dtype = int)

In [189]:
same_bday = pd.DataFrame(same_birthday)

In [190]:
same_bday["same_birthday"] = same_bday.apply(lambda row: len(row) != row.nunique(),axis = 1)

In [191]:
same_bday.same_birthday.mean()

0.41049

In [192]:
n_simulations = 100_000
n_trials = 40
same_birthday = np.random.randint(low = 1,high = 366 , size=(n_simulations,n_trials),dtype = int)

In [193]:
same_bday = pd.DataFrame(same_birthday)

In [194]:
same_bday["same_birthday"] = same_bday.apply(lambda row: len(row) != row.nunique(),axis = 1)

In [195]:
same_bday.same_birthday.mean()

0.89334