In [27]:
from math import sqrt
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pydataset import data

### For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

### Has the network latency gone up since we switched internet service providers?

Ho - The Network latency of the current isp has decreased or stayed the same as our previous isp

Ha - The Network latency of our current isp has increased from our previous isp

True positive - the new isp has increased latency which is proven by the the data and Ho, with a p-value is less then our alpha. p-value(less than 5%)

True negative - the new isp has decreased latency which is proven by the data and Ho, with a p-value greater then our alpha

False positive(type 1 error) - The data states that the latency has increased, when the case was that the current isp's latency had actually decreased or stayed the same, disproving a hypothosis that was actually true. we rejected our null when it was actually true.

False Negative(type 2 error) - The data states that the latency has decreased or stayed the same, when the case was that the current isp's latency had actually increased proving a fake hypotosis because this was not actually the case. we accepted our null when it was actually false.

variables = Network latency(continuous), internet service providers (categorical)

### Is the website redesign any good?


### my rewording:  Has the website traffic increased since we redisigned?

Ho - The website traffic has seen a decrease or no change since it was redisigned.

Ha - The website traffic has seen an increase since it was redisigned.

True positive - The website has seen an increase in traffic, having a p-value greater than alpha and the null hypotosis is indeed incorrect. p-value(less than 5%)

True negative - the website has seen a decrease in traffic, having a p-value less than our alpha and the null hypothosis is in reality correct. p-value(greater than 5%)

False positive(type 1 error) - The websites data says that there has been an increase although in reality the truth is that the websites traffic has decreased or had no change. we rejected our null when it was actually true.

False negative(type 2 error) -  The websites data says that there has been a decrease, or had no change although in reality the truth is that the websites traffic has increased
we accepted our null when it was actually false.

### Is our television ad driving more sales?

### my rewording: have we had an increase in sales since we ran the television ad?

Ho - the sales decreased or stayed the same after running the advertisment

Ha - The sales increase after running the advertisment

True positive - The sales increase after the advertisment, having a p-value greater than alpha and the null hypotosis is in reality incorrect. p-value(less than 5%)

True negative - The sales decrease or say the same after the advertisment, having a p-value less than our alpha and the null hypothosis is in reality correct. p-value(greater than 5%)

False positive(type 1 error) - The sales seem to increase when in reality they have decreased or stayed the same. we rejected our null when it was actually true.

False negative(type 2 error) - The sales seem to decrease or stay the same when in reality they have actually increased. we accepted our null when it was actually false.

# T-Test

### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

#### $H_{O}$: mean of time it takes to sell a home in office #1 == time it takes to sell a home in office #2
#### $H_{a}$: mean of time it takes to sell a home in office #1 != time it takes to sell a home in office #2

In [125]:
n_simulations = 40

office_1 = np.random.normal(loc = 90, scale = 15,size = (n_simulations))
office_2 = np.random.normal(loc = 100, scale = 20,size = (50))

In [126]:
office_1

array([ 89.88033081, 111.0106439 ,  89.92098039,  77.3459724 ,
       105.49042778,  67.02496877,  68.41278695,  99.93500007,
        89.62924749,  94.83174811,  43.18890738,  71.64259166,
        82.43630152,  81.2842751 ,  70.90130136,  80.79511089,
       104.84040181,  87.17239129,  84.08009949,  84.45335243,
       102.16937883,  83.20607827,  76.68414827, 116.19545036,
        91.37527532,  83.80934174,  63.44801644, 106.21289227,
       101.67109166,  71.55265154, 101.48832835,  66.99580729,
        82.06424817, 110.81147311,  97.36717242,  90.80970432,
        74.64952777,  89.10189842,  69.81474286,  91.93424559])

In [127]:
stats.mannwhitneyu(office_1,office_2)

MannwhitneyuResult(statistic=601.0, pvalue=0.0006064866409300195)

In [128]:
t, p = stats.ttest_ind(office_1,office_2,equal_var = False)

In [129]:
t,p

(-3.796796073701735, 0.0002696956821228076)

In [130]:
p < alpha

True

we can reject the $H_{0}$ because our p-value is statistically significant

## Load the mpg dataset and use it to answer the following questions:

In [28]:
df = data("mpg")

In [30]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [32]:
df.year.unique()

array([1999, 2008])

In [44]:
df = df.assign(average_mileage = (df.cty + df.hwy) / 2)

### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

#### $H_{O}$: mean amount of fuel efficiency of cars in 2008 == mean amount of fuel efficiency of cars in 1999
#### $H_{a}$: mean amount of fuel efficiency of cars in 2008 != mean amount of fuel efficiency of cars in 1999

In [133]:
alpha = .05

In [134]:
cars_2008 = df[df.year == 2008].average_mileage
cars_1999 = df[df.year == 1999].average_mileage

In [135]:
cars_2008.var()

24.097480106100797

In [136]:
cars_1999.var()

27.122605363984682

In [137]:
t, p = stats.ttest_ind(cars_2008,cars_1999,equal_var = True)

In [138]:
t,p

(-0.21960177245940962, 0.8263744040323578)

In [139]:
p < alpha

False

We failed to reject our $H_{O}$ and have a P-value < alpha

### Are compact cars more fuel-efficient than the average car?

#### $H_{O}$: compact cars fuel efficency <= the average cars fuel efficency
#### $H_{a}$: compact cars fuel efficency > the average cars fuel efficency

In [71]:
compact_cars = df[df["class"] == "compact"].average_mileage
all_cars = df.average_mileage.mean()

In [67]:
compact_cars.head()

1    23.5
2    25.0
3    25.5
4    25.5
5    21.0
Name: average_mileage, dtype: float64

In [73]:
all_cars

20.14957264957265

In [69]:
compact_cars.var()

12.442876965772433

In [74]:
t, p = stats.ttest_1samp(compact_cars,all_cars)

In [75]:
p < alpha

True

In [76]:
t,p

(7.896888573132535, 4.1985637943171336e-10)

We rejected our $H_{O}$ , our p-value was less than alpha, and it seems that compact cars are more fuel efficent than the average car, as seen by the positive t-value

### Do manual cars get better gas mileage than automatic cars?

#### $H_{O}$: mean gas mileage in manual cars >= mean gas mileage of automatic cars
#### $H_{a}$: mean gas mileage in manual cars < mean gas mileage of automatic cars

In [141]:
df["is_automatic"] = np.where((df["trans"] == "manual(m5)") | (df["trans"] == "manual(m6)"), False, True)

In [142]:
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,True

In [143]:
auto_cars = df[df.is_automatic == True].average_mileage
manual_cars = df[df.is_automatic == False].average_mileage

In [144]:
auto_cars.head()

1    23.5
4    25.5
5    21.0
7    22.5
9    20.5
Name: average_mileage, dtype: float64

In [145]:
auto_cars.mean()

19.130573248407643

In [146]:
manual_cars.mean()

22.227272727272727

In [147]:
manual_cars.var()

26.635167464114826

In [148]:
t, p = stats.ttest_ind(manual_cars,auto_cars,equal_var = True)

In [149]:
p/2 < alpha

True

In [150]:
t,p

(4.593437735750014, 7.154374401145683e-06)

In [151]:
if p/2 > alpha:
    print("we fail to reject the $H_{O}$")
elif t > 0:
    print("we fail to reject the $H_{O}$")
else:
    print("we reject the $H_{O}$, the mean of manual gas milage is greater than that of the automatic cars")

we fail to reject the $H_{O}$

We failed to reject the $H_{O}$ because our t value is greater than 0 meaning that the data was statistically significant but gas milage in manual cars was higher