In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from random import randint

# import seaborn
import seaborn as sns

### 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

In [3]:
poisson_bank = stats.poisson(2)

In [4]:
sns.set(color_codes=True)
# settings for seaborn plot sizes
sns.set(rc={'figure.figsize':(5,5)})
from scipy.stats import poisson
data_poisson = poisson.rvs(mu=2, size=10000)

In [5]:
data_poisson

array([1, 2, 4, ..., 2, 2, 2])

### What is the probability that no cars drive up in the noon hour?

In [6]:
poisson_bank.cdf(0)

0.1353352832366127

### What is the probability that 3 or more cars come through the drive through?

In [7]:
poisson_bank.sf(2)

0.32332358381693654

### How likely is it that the drive through gets at least 1 car?

In [8]:
poisson_bank.sf(0)

0.8646647167633873

### 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

In [9]:
uni_grades = stats.norm(3,.3)

### What grade point average is required to be in the top 5% of the graduating class?

In [10]:
uni_grades.isf(.05)

3.4934560880854417

### What GPA constitutes the bottom 15% of the class?

In [11]:
uni_grades.ppf(.15)

2.689069983151863

### An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [12]:
uni_grades.cdf(2.8)

0.2524925375469227

In [13]:
uni_grades.ppf(.2)

2.7475136299281258

In [14]:
uni_grades.ppf(.3)

2.842679846187588

In [15]:
# Yes the student would because he falls in the 20-30% range and he falls between 2.74 and 2.84

### If I have a GPA of 3.5, what percentile am I in?

In [16]:
uni_grades.cdf(3.5)

0.9522096477271853

### 3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [17]:
stats.binom(4326, .02).sf(97)

0.11781530585907925

In [18]:
outcomes = [0,1]
n_simulations = 50_000
n_trials = 4326
website = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.98,.02])

In [20]:
website = website.sum(axis = 1)

In [21]:
(website >= 97).mean()

0.14132

### 4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

In [24]:
stats_quiz = stats.randint(1,101)

In [25]:
stats_quiz.rvs(100)

array([ 39,  80,  10,  75,  66,  10,  88,  85,  59,  96,  63,  48,   8,
        88, 100,  73,  14,  79,  69,  99,  92,  69,   4,  95,  94,  93,
        49,  82,  43,  80,  99,  32,  14,  28,  76,  61,  42,  16,  18,
        36,  23,  94,  53,  36,  85,  83,  30,  15,   9,  77,   7,  35,
        43,   7,  69,  37,  17,   7,  33,  14,  44,  84,  18,  87,  11,
        62,   6,  36,  70,  89,  74,  16,  54,  89,  12,  31,   3,  58,
        39,   2,  30,  43,  34,  16,  36,  29,   5,  18,  96,  73,  71,
        35,  40,  91,   7,   9,  55,  45,  54,  10])

In [26]:
outcomes = [0,1]
n_simulations = 100_000
n_trials = 60
stats_quiz = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[100/101,1/101])

In [27]:
stats_quiz = stats_quiz.sum(axis = 1)

In [29]:
(stats_quiz >= 1).mean()

0.45045

### What is the probability that at least one of your first 60 answers is correct?

In [30]:
stats_quiz = stats.binom(60,1/101)

In [31]:
stats_quiz.sf(0)

0.44955038406224

### 5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [ ]:
#chance of getting cleaned each day

In [32]:
stats.binom(59,.03).sf(0)

0.8342199288437355

In [33]:
clean_rate = stats.binom(59,.03).sf(0)

In [34]:
stats.binom(2,clean_rate).pmf(0)

0.02748303199257611

In [35]:
stats.binom(5,clean_rate).pmf(0)

0.0001252165138809122

In [37]:
outcomes = [0,1]
n_simulations = 100_000
n_trials = 59
codeup_clean = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.97,.03])

In [38]:
codeup_clean = codeup_clean.sum(axis = 1)

In [39]:
(codeup_clean >= 1).mean()

0.83214

In [40]:
outcomes = [0,1]
n_simulations = 100_000
n_trials = 118
codeup_clean = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.97,.03])

In [41]:
codeup_clean = codeup_clean.sum(axis = 1)

In [43]:
(codeup_clean < 1).mean()

0.02791

In [44]:
outcomes = [0,1]
n_simulations = 100_000
n_trials = 295
codeup_clean = np.random.choice(outcomes,  size=(n_simulations,n_trials), p=[.97,.03])

In [45]:
codeup_clean = codeup_clean.sum(axis = 1)

In [47]:
(codeup_clean < 1).mean()

0.00013

### 6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [48]:
la_panaderia = stats.norm(15,3)

In [49]:
17 * 2 + 10

44

In [50]:
1 - la_panaderia.sf(17)

0.7475074624530771

### 7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [51]:
from env import host, user, password

In [52]:
def get_db_url(user,password,host,database):
    return (f"mysql+pymysql://{user}:{password}@{host}/{database}")

In [53]:
url = get_db_url(user,password,host,database = "employees")

In [54]:
query = '''
SELECT *
FROM employees
JOIN salaries USING(emp_no)
WHERE salaries.to_date > NOW();
'''
employees = pd.read_sql(query,url)
employees

,emp_no,birth_date,first_name,last_name,gender,hire_date,salary,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,88958,2002-06-22,9999-01-01
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,72527,2001-08-02,9999-01-01
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,43311,2001-12-01,9999-01-01
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,74057,2001-11-27,9999-01-01
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,94692,2001-09-09,9999-01-01
...,...,...,...,...,...,...,...,...,...
240119,499995,1958-09-24,Dekang,Lichtner,F,1993-01-12,52868,2002-06-01,9999-01-01
240120,499996,1953-03-07,Zito,Baaz,M,1990-09-27,69501,2002-05-12,9999-01-01
240121,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,83441,2001-08-26,9999-01-01
240122,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,55003,2001-12-25,9999-01-01
240123,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,77303,2001-11-29,9999-01-01

In [55]:
stats.norm(employees.salary)

In [56]:
# STANDARD DEV = 17309.95933634675

In [57]:
# MEAN/AVG = 72012.2359

### What percent of employees earn less than 60,000?

In [58]:
stats.norm(72012,17310).cdf(60000).mean()

0.2438617554963023

In [59]:
# sql percent = ~27%

### What percent of employees earn more than 95,000?

In [60]:
stats.norm(72012,17310).sf(95000).mean()

0.09208599994106093

In [61]:
# sql percent = ~10.8%

### What percent of employees earn between 65,000 and 80,000?

In [62]:
bottom = stats.norm(72012,17310).cdf(65000).mean()

In [63]:
top = 1 - stats.norm(72012,17310).sf(80000).mean()

In [64]:
top - bottom

0.335060363819384

In [65]:
# sql percent = ~32.5%

### What do the top 5% of employees make?

In [66]:
stats.norm(72012,17310).ppf(.95)

100484.41628252999